.box__signup-container,
.box__login-container {
  display: flex;
  height: calc(100vh - 55px);
  margin: 0 30px;
  flex-direction: column;
  justify-content: center;
  .text__title {
    font-size: 22px;
  }
  .form__signup,
  .form__login {
    display: flex;
    width: 100%;
    margin-top: 20px;
    flex-direction: column;
    label {
      margin-top: 20px;
      margin-bottom: 8px;
      text-indent: 5px;
    }
    .form__input {
      width: 100%;
      height: 40px;
      border: 0;
      border-bottom: 1px solid var(--gray-300);
      background: none;
      padding: 10px;
      font-size: 16px;
      font-weight: 400;
      color: var(--Black);
      line-height: 40px;
      appearance: none;
      &[type='password']{
        padding-right: 40px;
      }
      &.form__err{
        border-bottom: 2px solid var(--red-500);
      }
      & ~ .button__visible {
        position: absolute;
        top: 50%;
        right: 0;
        width: 40px;
        height: 40px;
        transform: translateY(-50%);
      }
    }
    .text__err{
      margin: -10px 0 20px;
      font-size: 14px;
      color: var(--red-500);
    }
    .button__signup,
    .button__login {
      height: 48px;
      border-radius: 8px;
      background-color: var(--gray-300);
      color: #000;
    }
  }
  .text__hi-there {
    font-size: 16px;
    margin-top: 50px;
    & ~ .button__login {
      height: 48px;
      margin-top: 12px;
      border-radius: 8px;
      background-color: var(--gray-300);
      color: #000;
    }
  }
}