.box__breaking-news {
  padding: 0 16px 40px;
  .list-breaking-news {
    & > .list-item {
      & + .list-item {
        padding-top: 30px;
      }
    }
  }
  .list-item{
    .box__card{
      position: relative;
    }
  }
  .link__news {
    .box__image {
      position: relative;
      width: 100%;
      border-radius: 8px;
      overflow: hidden;
      .image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        aspect-ratio: 16 / 9;
      }
    }
  }
  .box__info {
    margin-top: 6px;
    font-size: 0;
    .tag__red {
      margin-right: 6px;
      margin-bottom: 3px;
      padding: 3px 5px;
      border-radius: 4px;
      background-color: var(--red-500);
      font-size: 13px;
      line-height: 17px;
    }
    .text__title {
      font-size: 24px;
      line-height: 32px;
      display: -webkit-box;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      vertical-align: text-bottom;
      word-break: break-all;
    }
    .text__description {
      display: -webkit-box;
      padding-top: 10px;
      font-size: 15px;
      font-weight: 500;
      color: var(--gray-700);
      line-height: 23px;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
    }
  }
  .button__favorite {
    position: absolute;
    right: 10px;
    top: 158px;
    width: 32px;
    height: 32px;
    background: transparent;
    .image {
      width: 100%;
    }
  }
  .list__breaking-news {
    padding-top: 16px;
    .list-item {
      position: relative;
      margin-bottom: 10px;
      padding: 0 0 0 14px;
      border: 0;
      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 11px;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background-color: var(--gray-800);
      }
    }
  }
}