.box__category-contents {
  margin: 0 20px;
  padding-bottom: 52px;
  .box__inner {
    margin-top: 18px;
    padding: 20px;
    border-radius: 8px;
    background: var(--gray-100);
    .list__articles {
      overflow: hidden;
      .list-item {
        padding: 19px 0 20px;
        border-bottom: 1px solid var(--gray-450);
        .box__card {
          position: relative;
        }
        .box__image {
          position: relative;
          border-radius: 8px;
          overflow: hidden;
          .image {
            width: 100%;
            height: 100%;
            object-fit: cover;
            aspect-ratio: 16 / 9;
          }
        }
        .box__info {
          padding-top: 14px;
          .text__title {
            padding: 0;
            -webkit-line-clamp: 3;
            font-size: 24px;
            line-height: 32px;
            font-weight: 700;
            -webkit-box-orient: vertical;
            display: -webkit-box;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          .text__description {
            padding-top: 10px;
            font-size: 15px;
            font-weight: 500;
            color: var(--gray-700);
            line-height: 23px;
            display: -webkit-box;
            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
          }
        }
        .button__favorite {
          position: absolute;
          right: 10px;
          width: 32px;
          height: 32px;
          background: transparent;
          .image {
            width: 100%;
          }
        }
        &:first-child {
          padding-top: 0;
        }
        &:last-child {
          border-bottom: 0;
          padding-bottom: 0;
        }
      }
    }
  }
}

.box__category-wrap {
  margin: 0 20px;
  border-bottom: 2px solid var(--Black);
  .text__title {
    padding-bottom: 3px;
    font-size: 32px;
    font-weight: 700;
    color: var(--gray-900);
    line-height: 42px;
  }
  .list__sub-category {
    display: flex;
    padding: 11px 0 8px;
    overflow-x: scroll;
    .list-item {
      margin-right: 20px;
      .link__category {
        .text {
          display: block;
          width: max-content;
          padding: 5px 0;
          font-size: 17px;
          font-weight: 600;
          color: var(--gray-600);
          line-height: 22px;
        }
        &.link__category--selected {
          .text {
            color: var(--gray-900);
          }
        }
      }
    }
  }
}
