.box__category-contents {
  margin: 0 20px;
  padding-bottom: 52px;
  .text__title {
    padding: 14px 0 16px;
    font-size: 20px;
    color: var(--gray-900);
    line-height: 24px;
  }
  .box__inner {
    padding: 20px;
    border-radius: 8px;
    background: var(--gray-100);
    .list__articles {
      overflow: hidden;
      .list-item {
        padding: 19px 0 20px;
        border-bottom: 1px solid var(--gray-450);
        .box__card {
          position: relative;
        }
        .box__image {
          position: relative;
          height: 200px;
          border-radius: 8px;
          overflow: hidden;
          .image {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            object-fit: cover;
          }
        }
        .box__info {
          margin-top: 14px;
          .text__title {
            padding: 0;
            -webkit-line-clamp: 3;
            font-size: 24px;
            line-height: 32px;
            font-weight: 700;
            -webkit-box-orient: vertical;
            display: -webkit-box;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          .text__description {
            padding-top: 10px;
            font-size: 15px;
            font-weight: 500;
            color: var(--gray-700);
            line-height: 23px;
            display: -webkit-box;
            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
          }
        }
        .button__favorite {
          position: absolute;
          right: 10px;
          top: 158px;
          width: 32px;
          height: 32px;
          background: transparent;
          .image {
            width: 100%;
          }
        }
        &:first-child {
          padding-top: 0;
        }
        &:last-child {
          border-bottom: 0;
          padding-bottom: 0;
        }
      }
    }
  }
}
