.box__column-contents {
  margin: 0 20px;
  border-top: 2px solid var(--gray-900);
  .text__title {
    padding: 14px 0 16px;
    font-size: 20px;
    font-weight: 700;
    color: var(--gray-900);
    line-height: 24px;
  }
  .list__articles {
    padding: 10px 0 30px;
    .list-item {
      padding: 24px 0 32px;
      border-bottom: 1px solid var(--gray-400);
      .link__article {
        display: flex;
        gap: 16px;
        align-items: center;
        .box__image {
          width: 80px;
          height: 80px;
          border-radius: 80px;
          overflow: hidden;
          .image {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .box__info {
          width: calc(100% - 96px);
          .text__subtitle {
            padding-bottom: 4px;
            font-size: 14px;
            font-weight: 600;
            color: var(--brown-500);
            line-height: 20px;
          }
          .text__summary {
            font-size: 18px;
            line-height: 26px;
            font-weight: 600;
            display: -webkit-box;
            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
          }
        }
      }
      &:first-child {
        padding-top: 0;
      }
    }
  }
}
