.list-item {
  .tag__red {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 1px;
    padding: 0 4px;
    border-radius: 2px;
    background-color: var(--red-500);
    font-size: 12px;
    font-weight: 600;
    color: #fff;
    line-height: 18px;
    vertical-align: text-bottom;
  }
  .tag__blue {
    display: inline-block;
    margin: 7px 5px;
    padding: 0 4px;
    border-radius: 2px;
    background-color: var(--blue-500);
    font-size: 12px;
    font-weight: 600;
    color: #fff;
    line-height: 18px;
    vertical-align: top;
  }
}
