header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 55px;
  z-index: 100;
  background-color: var(--White);
  max-width: 768px;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
  .box__header {
    position: sticky;
    width: calc(100% - 24px);
    height: 55px;
    margin: 0 12px;
    font-size: 0;
    border-bottom: 3px solid var(--Black);
    .button__menu {
      position: absolute;
      top: 10px;
      left: 0;
      width: 36px;
      height: 36px;
      .image {
        width: 26px;
        height: 30px;
      }
      &.button__menu-open {
        .image {
          width: 30px;
        }
        & ~ .box__weather,
        & ~ .button__search,
        & ~ .button__login,
        & ~ .button__dark {
          display: none;
        }
      }
    }
    .link__main {
      position: absolute;
      top: 0;
      left: 50%;
      padding: 18px 0;
      transform: translateX(-50%);
      .text__title {
        font-size: 16px;
      }
    }
    .box__weather {
      position: absolute;
      top: 9px;
      left: 36px;
      width: 38px;
      overflow: hidden;
      .image {
        display: block;
        width: 28px;
        height: 28px;
        margin: 0 auto;
      }
      .text__temp {
        font-size: 10px;
        text-align: center;
        line-height: 1;
      }
      &.box__weather--error {
        .text {
          font-size: 10px;
          text-align: center;
          line-height: 42px;
        }
      }
    }
    .button__dark {
      position: absolute;
      top: 10px;
      left: 74px;
      width: 36px;
      height: 36px;
      .image {
        width: 24px;
        height: 24px;
      }
    }
    .button__login {
      position: absolute;
      top: 8px;
      right: 36px;
      width: 36px;
      height: 36px;
      background: transparent;
      .image {
        width: 26px;
        height: 26px;
      }
    }
    .button__search {
      position: absolute;
      top: 8px;
      right: 0;
      width: 36px;
      height: 36px;
      .image {
        width: 26px;
        height: 26px;
      }
      &.button__search--active {
        .image {
          width: 30px;
          height: 30px;
        }
      }
    }
  }
  .box__search-bar {
    width: 100%;
    margin: 0;
    padding: 16px 12px;
    background-color: var(--White);
    .form__keyword {
      width: calc(100% - 68px);
      padding: 14px 16px 14px 24px;
      border: 0;
      border-radius: 20px;
      background: var(--gray-200);
      font-size: 14px;
      color: var(--gray-900);
      line-height: 1;
    }
    .button__confirm {
      width: 60px;
      height: 46px;
      margin-left: 8px;
      border-radius: 4px;
      background-color: var(--Black);
      color: var(--White);
    }
  }
  .button__logout {
    position: absolute;
    top: 10px;
    right: 0;
    width: 36px;
    height: 36px;
    background: transparent;
    .image {
      width: 36px;
      height: 22px;
    }
  }
  &:has(.button__menu-open) {
    & ~ .box__recent,
    & ~ .box__breaking-news {
      display: none;
    }
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(90deg);
  }
}
@keyframes rotate-back {
  0% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes updown {
  0% {
    transform: translateY(10%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes updown-back {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(10%);
  }
}

#root {
  position: relative;
  max-width: 768px;
  margin: 0 auto;
  &:has(.box__search-bar) {
    position: relative;
    header {
      background-color: var(--White);
      .box__weather {
        display: none;
      }
    }
    .box__dimmed {
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.7);
      position: fixed;
      top: 0;
      left: 0;
    }
  }
  &.js-fixed {
    header {
      .box__header {
        position: fixed;
        top: 0;
        max-width: 768px;
      }
      .box__search-bar {
        position: fixed;
        top: 55px;
      }
    }
    &:has(.box__recent) {
      padding-top: 20px;
    }
  }
  &:has(.button__search--active) {
    .button__menu,
    .button__dark {
      display: none;
    }
    header {
      height: 139px;
    }
  }
}
