header {
  .box__header {
    position: sticky;
    height: 55px;
    margin: 0 12px;
    font-size: 0;
    border-bottom: 3px solid #000;

    .button__menu {
      position: absolute;
      top: 8px;
      left: 0;
      width: 36px;
      height: 36px;
      background: url(../../image__menu.svg);

      &.button__menu-open {
        background: url(../../image__close.svg);

        & ~ .box__weather,
        & ~ .button__search {
          display: none;
        }
      }
    }

    .link__main {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      padding: 15px;

      .text__title {
        font-size: 16px;
      }
    }

    .box__weather {
      position: absolute;
      top: 8px;
      left: 40px;
      width: 42px;
      overflow: hidden;

      .image {
        display: block;
        width: 28px;
        height: 28px;
        margin: 0 auto;
      }

      .text__temp {
        font-size: 10px;
        text-align: center;
        line-height: 1;
      }

      &.box__weather--error {
        .text {
          font-size: 10px;
          text-align: center;
          line-height: 42px;
        }
      }
    }
    .button__login {
      position: absolute;
      top: 10px;
      right: 40px;
      width: 36px;
      height: 36px;
      background: transparent;
      .image {
        width: 26px;
        height: 26px;
      }
    }
    .button__search {
      position: absolute;
      top: 8px;
      right: 0;
      width: 36px;
      height: 36px;
      background: url(../../image__search.svg);

      &.button__search--active {
        background: url(../../image__close.svg);
      }
    }

    &:has(.button__search--active) {
      .button__menu {
        display: none;
      }
    }
  }

  .box__search-bar {
    width: 100%;
    margin: 0;
    padding: 16px 12px;

    .form__keyword {
      width: calc(100% - 68px);
      padding: 14px 16px 14px 24px;
      border: 0;
      border-radius: 20px;
      background: #f2f2f2;
      font-size: 14px;
      line-height: 1;
    }

    .button__confirm {
      width: 60px;
      height: 46px;
      margin-left: 8px;
      border-radius: 4px;
      background-color: #000;
      color: #fff;
    }
  }

  &:has(.button__menu-open) {
    & ~ .box__recent {
      display: none;
    }

    & ~ .box__breaking-news {
      display: none;
    }
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(90deg);
  }
}

@keyframes rotate-back {
  0% {
    transform: rotate(90deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes updown {
  0% {
    transform: translateY(10%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes updown-back {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(10%);
  }
}

#root {
  &:has(.box__search-bar) {
    position: relative;

    header {
      position: relative;
      background-color: #fff;
      z-index: 100;

      .box__weather {
        display: none;
      }
    }

    .box__dimmed {
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.7);
      position: fixed;
      top: 0;
      left: 0;
    }
  }

  &.js-fixed {
    header {
      position: fixed;
      top: 0;
      width: 100%;
      max-width: 768px;
      background: #fff;
      z-index: 1;
    }
  }
}
