.box__recent {
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  .list__recent {
    max-width: 768px;
    margin: 16px 0;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-behavior: smooth;
    font-size: 0;
    white-space: nowrap;
  }
  .list-item {
    display: inline-block;
    width: max-content;
    position: relative;
    padding: 0 14px;
    font-size: 0;
    line-height: 1;
    vertical-align: top;
    .link__recent {
      display: inline-block;
      font-size: 14px;
      line-height: 20px;
      vertical-align: top;
    }
    .button__close{
      width: 16px;
      height: 16px;
      margin-top: 3px;
      background-color: transparent;
    }
    &::after {
      content: "";
      position: absolute;
      right: 0;
      top: 4px;
      height: 14px;
      border-right: 1px solid #ddd;
    }
    &:last-child {
      padding-right: 0;
      &::after {
        content: none;
      }
    }
  }
}
