.box__recent {
  .list__recent {
    margin: 0 auto;
    overflow-x: scroll;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    align-items: center;
    padding: 10px 20px 16px;
  }
  .list-item {
    display: inline-block;
    width: max-content;
    position: relative;
    padding: 0 14px;
    font-size: 0;
    line-height: 1;
    .link__recent {
      display: inline-block;
      font-size: 14px;
      line-height: 20px;
      vertical-align: top;
    }
    .button__close{
      width: 16px;
      height: 16px;
      margin-top: 3px;
      background-color: transparent;
    }
    &::after {
      content: "";
      position: absolute;
      right: 0;
      top: 4px;
      height: 14px;
      border-right: 1px solid #ddd;
    }
    &:last-child {
      padding-right: 0;
      &::after {
        content: none;
      }
    }
  }
}
