.box__loading {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  .text__icon {
    font-size: 24px;
    animation: rotate_image var(--anim-slow) linear infinite;
  }
  .text__loading {
    font-size: 24px;
  }
}

@keyframes rotate_image {
  to {
    transform: rotate(360deg);
  }
}
