.box__login-container {
  display: flex;
  height: 100vh;
  margin: 0 30px;
  flex-direction: column;
  justify-content: center;
  .text__title {
    font-size: 22px;
  }
  .form__login {
    display: flex;
    width: 100%;
    margin-top: 20px;
    flex-direction: column;
    label {
      margin-bottom: 20px;
    }
    input {
      width: 100%;
      height: 40px;
      border: 0;
      border-bottom: 1px solid #e9e9e9;
      font-size: 16px;
      font-weight: 400;
      line-height: 40px;
      text-indent: 10px;
      appearance: none;
    }
  }
}
