.box__mypage-container{
  .box__title {
    display: flex;
    margin: 0 20px;
    padding-top: 20px;
    border-bottom: 1px solid var(--gray-400);
    justify-content: space-between;
    .text__title{
      font-size: 28px;
      line-height: 42px;
    }
  }
  .list__mypage {
    padding: 6px 25px 30px;
    .list-item {
      height: 36px;
      border-bottom: 1px solid var(--gray-400);
      &:last-child {
        border-bottom: 0;
      }
      button {
        display: flex;
        width: 100%;
        height: 100%;
        padding: 0;
        border: 0;
        background: transparent;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        text-align: left;
        .text {
          font-size: 14px;
          line-height: 36px;
        }
        .image {
          width: 18px;
          height: 18px;
          flex-shrink: 0;
        }
        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
  .button__logout{
    display: block;
    width: 100%;
    height: 36px;
    text-align: left;
    .image{
      width: 36px;
      height: 22px;
      margin-top: 7px;
    }
  }
}

/* 관심 */
.box__interested {
  .box__title {
    .button__edit,
    .button__delete{
      width: 42px;
      height: 42px;
    }
  }
  .list__interested {
    padding: 0 16px 30px;
    .list-item {
      display: flex;
      gap: 10px;
      padding: 11px 0 12px;
      border-bottom: 1px solid var(--gray-400);
      align-items: center;
      .form__checkbox{
        width: 18px;
        height: 18px;
      }
      .link__news {
        display: flex;
        width: 100%;
        gap: 12px;
        align-items: center;
        .box__info {
          width: calc(100% - 120px);
          .text {
            display: -webkit-box;
            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
          }
        }
        .box__image {
          position: relative;
          width: 108px;
          height: 72px;
          background: var(--gray-650);
          border-radius: 4px;
          overflow: hidden;
          .image {
            width: 100%;
            height: 100%;
            object-fit: cover;
            aspect-ratio: 16 / 9;
          }
        }
      }
      .button__delete{
        width: 30px;
        height: 30px;
        .image{
          width: 100%;
          height: 100%;
        }
      }
      &:last-child{
        border-bottom: 0;
      }
    }
  }
}