.box__preference-news{
  padding: 16px 0;
  background: #eee;
  .list__preference{
    display: flex;
    margin-left: 10px;
    padding: 15px 20px 0 10px;
    gap: 15px;
    align-items: center;
    overflow-x: auto;
    .button{
      position: relative;
      .text{
        font-size: 20px;
        color: #434343;
      }
      &.button__active{
        .text{
          font-weight: bold;
          color: darkblue;
        }
        &::before{
          content: "";
          position: absolute;
          top: -6px;
          left: 50%;
          transform: translateX(-50%);
          width: 5px;
          height: 5px;
          border-radius: 50%;
          background-color: darkblue;
        }
      }
    }
  }
  .box__articles{
    margin-top: 20px;
    padding: 0 20px;
    .link__news{
      display: flex;
      margin-bottom: 15px;
      gap: 12px;
      align-items: center;
      justify-content: space-between;
      .box__image{
        position: relative;
        width: 108px;
        height: 72px;
        border-radius: 10px;
        background-color: #fff;
        overflow: hidden;
        .image{
          width: 100%;
          height: 100%;
          object-fit: cover;
          aspect-ratio: 16 / 9;
        }
      }
      .box__info{
        width: calc(100% - 84px);
        font-size: 0;
        .text__title{
          font-size: 15px;
          line-height: 23px;
          display: -webkit-box;
          overflow: hidden;
          text-overflow: ellipsis;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          vertical-align: text-bottom;
          word-break: break-all;
          font-weight: normal;
        }
      }
    }
  }
}